.notfound-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound-subcontainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}